* {

  box-sizing: border-box;
}

body {
  background: #444444;
  overflow: hidden;
}

#viewer {
  background: #ffffff00;
  top: 0;
  left: 0;
}

.wrapper {
  margin: 60px 80px;
  padding: 0px;
  display: flex;
}

.main {
  background: #ffffff;
  color: #000000;
  height: 100%;
  width: auto;
}

.menu {
  background: #00000088;
  color: #eeffee;
  height: 100%;
  width: 360px;
}